.user-greetings {
  height: 80px;
  background: white;
  width: 100%;
}
.user-pic-img {
  height: 100%;
}
.box {
  box-shadow: var(--theme-box-shadow) !important;
  background-color: white;

  border: none !important;
  border-radius: 0px !important;
}
.sidebar-item {
  position: relative;
  text-align: center;
  transition: all 0.4s;
}

.sidebar-item .sidebar-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  font-size: 1.2rem;
  color: black;
  /* transition: background-color 0.3s, color 0.3s; */
  transition: all 0.  3s !important;
}

.sidebar-item:hover {
  background-color: var(--theme-bg-space) !important;
}

.sidebar-item:hover .sidebar-link {
  color: rgb(0, 0, 0) !important;
}


.sidebar-item:has(.sidebar-link.active) {
  background: var(--theme-bg-space) !important;
}
label{
  font-size: 1.3rem !important;
}
.text-edit{
  color: #737373 !important;
  transition: all 0.3s;
  font-size: 1rem;
}

.text-edit:hover{
  color: black !important;
}

.btn-save{
  background: #000;
  color: white;
  outline: none; 
  border: none;
}
.btn-save:hover{
  background: #2d2d2d;
}

.card{
  --bs-card-border-radius: 0px !important;
}
.card-img-center{
  height: 150px !important;
  width: 200px;
  margin: auto;
}
.btn{
  border: none !important;
}

.wishlist-card {
  height: 400px; /* 👈 fixed height, adjust as needed */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wishlist-card img {
  max-height: 150px;
  object-fit: contain;
  margin: 0 auto;
}

.wishlist-card .card-body {
  overflow: hidden;
}



.wishlist-scroll-container {
  max-height: 100vh; /* Adjust as needed */
  overflow-y: auto;
  padding-right: 5px; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Optional: Hide scroll bar for cleaner look (WebKit browsers) */
.wishlist-scroll-container::-webkit-scrollbar {
  width: 6px;
}
.wishlist-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.wishlist-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}
