.custom-alert {
  position: fixed;
  top: 10px;
  left: 40%;
  width: 300px;
  transform: translateX(-50%);
  z-index: 9999;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.custom-alert {
  transition: all 0.3s ease;
}

.alert-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.ok-btn {
  background: transparent;
  color: black;
  text-decoration: underline;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
}
