.bg-for-search:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;

}
.form-control:focus{
    box-shadow:  none !important;
    border: 1px solid black;
}
.navbar{
    user-select: none;
    box-shadow: var(--theme-box-shadow)  !important;
}
.input-group {
    margin-bottom: 0 !important;
}
.bg-for-search,.bg-for-search:focus{
    background: var(--theme-search-bg);
}

.navbar-toggler:focus{
    box-shadow: none !important;
}