.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease-in-out;
  transform: scale(1.01);
}
.product-card{
    transition: all 0.3s !important;
}

.label-radio{
  font-size: 15px !important;
}